body, .list, .delete{
    background-color: white;
}
.home{
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem 1rem 90%;
    background-color:  rgb(249, 248, 248);
}
h1{
    color: rgb(235, 216, 217);
    font-size: calc(3.375rem + 1.5vw);
}
input{
    width: 100%;
    outline: none;
}
input, li{
    padding: 1rem 1rem 1rem 3rem;
}
input, input::placeholder{
    color: rgb(170, 170, 170);
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}
.list{ 
    max-width: 450px;   
    margin: 1rem auto;
    border: 1px solid rgb(244, 240, 241);
    color: rgb(170, 170, 170);
}
li{   
    display: flex;     
    justify-content: space-between;
    list-style-type: none;    
}
li, p{
    border-top: 1px solid rgb(244, 240, 241);
}
.delete{
    visibility: hidden;
    color: rgb(175, 105, 109);
}
.delete:hover{
    opacity: 1 !important;
}
.input, .delete{
    border: none;
}
li:hover .delete{
    visibility:visible;
    opacity: 0.5;
}
p{
    margin: 0 0;
    padding: 1rem 1rem;
    text-align: start;
}